[Unit]
Description=Rebase to custom fcos image at the end of ignition installation
ConditionFirstBoot=true
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=default.target

[Service]
After=ignition-firstboot-complete.service
Type=oneshot
ExecStartPre=/usr/bin/systemctl disable zincati.service
ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-unverified-registry:ghcr.io/tomasmatus/coreos-homelab:latest
ExecStart=/usr/bin/systemctl disable rebase.service
ExecStart=/usr/bin/systemctl reboot
