[Unit]
Description=Mount media from nfs server
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=default.target

[Mount]
What=192.168.88.13:/mnt/tank/media
Where=/var/mnt/media
Type=nfs
Options=rw,async,noatime,_netdev,auto
